{
  "gateways": [
    "192.168.1.1",
    "10.0.0.1",
    "1.1.1.1"
  ],
  "ping_count": 3,
  "ping_timeout": 5,
  "login": {
    "host": "172.16.54.18",
    "user_id": "20240000000",
    "password_scheme": "win-dpapi",
    "password_protected": "base64-dpapi-blob...",
    "service": "DX",
    "query_string": "wlanuserip%3D198.51.100.24%26wlanacname%3Dlogic%26nasip%3D198.51.100.17%26wlanparameter%3D00-00-5e-00-53-36%26url%3Dhttp%3A%2F%2Fwww.baidu.com%2F%26userlocation%3Dethtrunk%2FX%3AYYYY.0"
  }
}
